DB_URL=
PORT=

# JWT Configuration
JWT_ACCESS_KEY=
JWT_REFRESH_SECRET=

# Facebook App Configuration
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Base URLs
BASE_URL=
CLIENT_URL=

# Session Secret
SESSION_SECRET=
#cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret